html {
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* outline: 1px solid red; */
}
:root{
    /* --color-fundo: #010823; */
    --color-red: #be0000;
    --color-black: #333;
    --font-main: 'Poppins', sans-serif;
    --color-text: #696868;
    --color-white: #fff;
    --color-purple: #d176ed;
    --color-azul: #1e90ff;
    --color-cinza: #b3b3b3;
}
body {
    font-family: var(--font-main);
    line-height: 1.6;
    color: var(--color-text);
    /* background-color: var(--color-white); */
}



